<div class="btn_voltar">
    <a href="/meta">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 24L12 16L20 8" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>
</div>

<section class="nova_meta">
    <div class="estrutura">
        <h3 class="titulo_pag">Editar Meta</h3>
        <form class="formInput" action="/meta/index/edit" method="POST"> 
            <input type="hidden" name="id" value="{{index._id}}">
            <input type="text" class="tituloInput" name="titulo" placeholder="Adicione o Título" maxlength="15" value="{{index.titulo}}"><br>
            <textarea class="descricaoInput" name="descricao" rows="5" cols="31" placeholder="Adicione a Descrição" maxlength="150">{{index.descricao}}</textarea><br>

            {{#each erros}}
                <div class="alerta">{{texto}}</div>
            {{else}}
            {{/each}}
            <button class="btn_azul" type="submit">Salvar</button>
        </form>

    </div>
</section>
