<h2>Lista de Metas: </h2>
<hr>
<a href="/meta/inserir"><button>Inserir nova meta</button></a>

{{#each index}}
    <div class="card">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <small>{{descricao}}</small><br>
            <small>Data de criação:{{date}}</small><br>
            <a href="/meta/index/edit/{{_id}}"><button >Editar Meta</button></a>
            <form action="/meta/index/deletar" method="POST">
                <input type="hidden" name="id" value="{{_id}}"><br>
                <button type="submit" class="btn btn-danger">Deletar meta</button>
            </form>
        </div>
    </div>
{{else}}
    <h4>Nenhuma categoria registrada</h4>
{{/each}}